.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  flex-direction: column;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.create-form label{
  color: whitesmoke !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px !important;
}

nav li{

  font-size: large;
  padding: 10px;
}
